spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"
//spawn-at-startup "awww-daemon"
spawn-sh-at-startup "/home/cinnamon/.local/bin/waywallen-layer-shell --socket $XDG_RUNTIME_DIR/waywallen/display.sock"
spawn-at-startup "dunst"
spawn-at-startup "qs"
spawn-sh-at-startup "vicinae server"
//spawn-sh-at-startup "awww img Pictures/Wallpapers/a_man_and_woman_posing_for_a_picture.jpg"
spawn-at-startup "waywallen"
spawn-sh-at-startup "emacs --daemon"